@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b0b12;
  color: white;
  scroll-behavior: smooth;
}

/* Navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(10, 10, 20, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #ff00ff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00f7ff;
}

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content h1 {
  font-size: 60px;
}

.hero-content span {
  color: #00f7ff;
  text-shadow: 0 0 20px #00f7ff;
}

.hero-content p {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.8;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 30px;
  background: linear-gradient(90deg, #ff00ff, #00f7ff);
  color: white;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00f7ff;
}

/* Sections */
.section {
  padding: 120px 80px;
  text-align: center;
}

.section h2 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #00f7ff;
}

.section p {
  max-width: 700px;
  margin: auto;
  opacity: 0.75;
}

.about-text {
  font-size: 18px;
  max-width: 850px;
  margin: 15px auto;
  opacity: 0.85;
  line-height: 1.7;
}

.about-text span {
  color: #00f7ff;
  font-weight: 600;
}

.about-list {
  margin: 25px auto;
  max-width: 600px;
  text-align: left;
  font-size: 18px;
  padding-left: 20px;
}

.about-list li {
  margin: 12px 0;
  opacity: 0.9;
  transition: 0.3s;
}

.about-list li:hover {
  transform: translateX(8px);
  color: #ff00ff;
}

/* Projects */
.projects-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  padding: 25px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(0, 247, 255, 0.2);
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 247, 255, 0.4);
}

/* Footer */
footer {
  padding: 20px;
  background: black;
  text-align: center;
  opacity: 0.6;
}

/* Reveal Animation */
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 1s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
